#addButton {
    background: navy;
    border-style: solid;
    border-color: navy;
    border-width: 1px;

}

h1 {
    color: navy;
}

.movieButton {

    background: navy;
    border-style: solid;
    border-color: navy;
    border-width: 1px;
    color: white;
    margin: 5px;
    padding: 10px;
}

form {
    background: lightgoldenrodyellow;
    padding: 30px;
    border-style: solid;
    border-color: navy;
    border-width: 10px;
}

body {
    background: url("./cuadros.png");
    background-size: 233px 232px;
}

.movieGif {
    margin: 5px;

}